{% load static %}

<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Contact Us</h3>
                        <p></p>
                        <ul class="footer-links">
                            
                            <li><a href="#"><i class="fa fa-phone"></i>+254-722-343-183</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+254-710-457-413</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+254-710-175-545</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>lumenaict@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>